**B. Chae "On my honor, as a student, I have neither given nor received unauthorized aid on this academic work."**

In [2]:
# Importing packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

## 1.a.	Import samplemissing.csv and show top five rows

In [3]:
df=pd.read_csv("data/samplemissing.csv")
df.head()

        ID  AGE     SEX      REGION   INCOME MARRIED  CHILDREN  CAR
0  ID12701   23    MALE  INNER_CITY  18766.0     YES         1  YES
1  ID12702   30     NaN       RURAL   9915.0      NO         2   NO
2  ID12703   45    MALE       RURAL  21881.0      NO         0  YES
3  ID12704   50    MALE        TOWN      NaN     YES         2   NO
4  ID12705   41  FEMALE  INNER_CITY  80000.0     YES         0   NO

## 1.b. Find out data types

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
ID          11 non-null object
AGE         11 non-null int64
SEX         10 non-null object
REGION      11 non-null object
INCOME      10 non-null float64
MARRIED     11 non-null object
CHILDREN    11 non-null int64
CAR         11 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 776.0+ bytes

integer columns: AGE, INCOME, CHILDREN

## 1.c. Basic statistics